!!! 5
html
  head
    link(rel='stylesheet', href='stylesheets/test.css') 
  body
    div#game
      canvas#canvas
      div#fps
        span FPS:--
      button#fullscreen full screen

  script(src="javascripts/vendor/require.js")    
  script(src="javascripts/webgl/index.js")