extend layout

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/layout.css")

block logout_edit_button
  a.btn.btn-success.btn-large.pull-right#logout
    i.icon-share.icon-large
    strong &nbsp&nbspLog Out
  a.btn.btn-primary.btn-large.pull-right#edit
    i.icon-cogs.icon-large
    strong &nbsp&nbspEdit Profile
  a.btn.btn-warning.btn-large.pull-right#message
    i.icon-comments-alt.icon-large
    strong &nbsp&nbspMessages

block content
  div.container#profile

  div.container-fluid#main
    div.row-fluid
      div.span10.well
      div.span2.well
        a.btn.btn-success.btn-large
          i.icon-group.icon-large
          strong Friends
        form(action="/friend/request", method="post")
          input(type="text")
          input(type="submit")				
block template
  script#profile-template(type="text/template")
    div.span6.well
      div.row
        div.span2
          image(src="/img/sj.jpeg")

          div.upload.btn
            input(type="file", value="Change")
            span.icon-user
            strong#fake-upload Upload Picture

        div.span4
          div.field
            i.icon-user.icon-large
            div.transform.username
              h3 <%= username %>
          div.field
            i.icon-envelope-alt.icon-large
            div.transform.email
              h3<%= email %>
          div.field
            i.icon-film.icon-large
            div.transform.bio
              h6 <% if(bio) {%> <%=bio%> <%} else%> <%="Empty"%> 
          div.field
            i.icon-lock.icon-large
            h3 Change Password

    div.span4.well

  script#friendlist-template(type="text/template")  
    div#friendlist
    

block script
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/vendor/backbone.js")
  script(src="javascripts/profile.js")
