extends layout

block less
  link(rel="stylesheet", type="text/css", href="stylesheets/layout.css")

block login_signup_button
  button.btn.btn-primary.btn-large.pull-right#signup
    strong Sign Up
  button.btn.btn-success.btn-large.pull-right#login
    strong Log In


block login_signup
  div.pop-up-login.well
    form.form-vertical#login-form(action="/login", method="post")
      p.error.login
      label 
        strong Email
      input.input-medium.auto-focus(type="text", name="email")
      label 
        strong Password
      input.input-medium(type="password", name="password")
      input.btn.btn-success(type="submit", value="Log In")
    div
      a(href="#")
        strong Forgot Password?
    div
      strong Log in with
      div.btn-group
        div.btn Google
        div.btn Facebook
        div.btn Twitter
        div.btn Linkedin
   div.pop-up-signup.well
     p.error.database
     form.form#signup-form(action="/signup", method="post")
       p.error.username
       label
         strong Username
       input.input-medium.auto-focus(type="text", name="username")
       p.error.email
       label
         strong Email
       input.input-medium(type="text", name="email")
       p.error.password
       label
         strong Password
       input.input-medium(type="password", name="password")
       label
         strong Password Confirmation
       input.input-medium(type="password", name="password-c")
       input.btn.btn-success(type="submit", value="Sign Up")

block script
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/welcome.js")

