/* General */
html,body {
    height : 100%;
}

body {
    padding-top : 50px;
}

div.navbar {
    background : #23658b;
    padding-left : 20px;
    height : 42px;
}

#search-bar {
    margin-right : 0px;
}

#search-button {
    margin-left : 0px;
    height : 21px;
}

#search-button i {
    position : relative;
    top : 3px;
}

div.container-fluid {
    height : 90%;
}

.error {
    color : red;
}

/* welcome page */
div.pop-up-signup, div.pop-up-login {
    display : none;
}

div.pop-up-login, div.pop-up-signup {
    position : fixed;
    top : 45px;
    right : 5px;
    width : 11%;
    z-index : 999;
}

/* profile page */
div#profile {
    position : fixed;
    left : 15%;
}

div.span6 div.field {
    padding-bottom : 25px;
}

div.span4 h3 {
    cursor : pointer;
}

div.upload {
    width : 90%;
    margin-top : 10px;
    position : relative;
}

div.upload input {
    position : absolute;
    z-index : 100;
    left : 6px;
    opacity : 0;
}

strong#fake-upload {
    margin-left : 10px;
}







